.scoreBoard_Container {
    font-family: 'Roboto Mono', monospace;
}

.players {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: black;
    color:white;
}

.scoreText {
    color:white;
}