.scoreBoard_Container {
    background-color: black;
    color:white;
    width: 200px;
    font-family: 'Roboto Mono', monospace;
}

.players {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: white;
}

#screenContainer {
    position:fixed;
    width: 100%;
    height: 100%;
}

.scene {
    position: absolute;
    /* top: 200px; */
    left: 320px;
    font-size: 18px;
    text-align: center;
    background-color: red;
}


.player {
    position:absolute;
    background-color: yellow;
    
    animation-name: '';
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.obstacle {
    position: absolute;
    /* width: 50px;
    height: 50px; */
    /* bottom: 0px; */
    background-color: purple;
}

@keyframes right {
    0%   {left:0px;}
    100%  {left:(bottom + 200px);}
    /* 50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
  }

  @keyframes none {
    0%   {}
    100%  {}
    /* 50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
  }

  .end {
    position:absolute;
    background-color: white;
  }

  .textBox {
    /* position: absolute; */
    /* width: 300px; */
    /* bottom: 50%;
    left: 0%; */
    font-family: 'Roboto Mono', monospace;
    font-size: 64px;
    background-color: black;
    color: white;
  }

  #timer {
    position: absolute;
    left: 25px;
    bottom:75%;
    font-size: 64px;
    font-family: 'Roboto Mono', monospace;

  }